/* Container showing if container has cards to display or not */
.container {
	/* Border */
	border: var(--border) var(--selectionSpotColor);
	border-radius: var(--borderRadius);
}

/* Image of cardback when there is at least one card in the pile */
.img {
	/* Display/Position */
	height: var(--cardHeight);
	width: var(--cardWidth);
}