.card {
	width: var(--cardWidth);
	height: var(--cardHeight);
	background-color: green;
}

.empty {
	background-color: none;
}

.full {
	background-color: lime;
}

.container {
	border: var(--border) var(--selectionSpotColor);
	border-radius: var(--borderRadius);
}

.img {
	width: var(--cardWidth);
	height: var(--cardHeight)
}