/* Element behind modal, so user can click off of modal */
.backdrop {
	/* Display/Position */
	left: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100vw;
	/* Color/Background */
	background-color: black;
	/* Misc. */
	opacity: 0.5;
	z-index: 4;
}

/* Modal box, contains children for specific modal info */
.modal {
	/* Display/Position */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50vmin;
	left: 50%;
	max-width: 800px;
	min-width: 400px;
	padding: 25px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
	/* Border */
	border: var(--border) var(--redColor);
	border-radius: 5px;
	/* Color/Background */
	background-color: var(--blackColor);
	/* Misc. */
	box-sizing: content-box;
	overflow-y: auto;
	overflow-X: hidden;
	z-index: 5;
}

