/* Element behind modal, so user can click off of modal */
.backdrop {
	/* Display/Position */
	left: 0;
	height: 100vmax;
	position: fixed;
	top: 0;
	width: 100vmax;
	/* Color/Background */
	background-color: black;
	/* Misc. */
	opacity: 0.5;
	z-index: 4;
}

/* Modal box, contains children for specific modal info */
.modal {
	/* Display/Position */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 80vmin;
	left: 50%;
	padding: 25px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80vmin;
	/* Border */
	border: var(--border) var(--redColor);
	border-radius: 5px;
	/* Color/Background */
	background-color: var(--blackColor);
	/* Misc. */
	box-sizing: content-box;
	overflow-y: auto;
	overflow-X: hidden;
	z-index: 5;
}

/* Button to close the modal in the top-right */
.closebtn {
	/* Display/Position */
	display: block;
	margin: 0 0 10px 0;
	position: fixed;
	right: 6px;
	top: 6px;
}