/* Container of Finished Piles (4 in total) */
.container {
	border: var(--border) var(--finishedColor);
	border-radius: var(--borderRadius);
}

/* Finished class applied after user has won. Used to indicate game is over */
.finished {
	/* Display/Position */
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
	/* Border */
	border: var(--border) var(--redColor);
	border-radius: var(--borderRadius);
	/* Font/Text */
	font-family: var(--fontSansSerif);
	font-size: 1.75rem;
	text-align: center;
	/* Color/Background */
	background-color: var(--finishedColor);
	/* Misc. */
	user-select: none;
}