/* Container of the flipped over cards */
.container {
	/* Display/Position */
	height: var(--cardHeightClamp) !important;
	width: calc(var(--cardWidthClamp) * 3) !important;
	/* Border */
	border: var(--border) var(--shownContainerColor);
	border-radius: var(--borderRadius);
}