.holder {
	/* min-width: calc(3*var(--cardWidthMin)) !important;
	width: calc(3*var(--cardWidth)) !important;
	max-width: calc(3*var(--cardWidthMax)) !important; */
	width: calc(var(--cardWidthClamp) * 3) !important;
}