.PlayCard {
	/* min-height: var(--cardHeightMin);
	height: var(--cardHeight);
	max-height: var(--cardHeightMax); */
	height: var(--cardHeightClamp);

	/* min-width: var(--cardWidthMin);
	width: var(--cardWidth);
	max-width: var(--cardWidthMax); */
	width: var(--cardWidthClamp);

	position: fixed;
	border-radius: var(--borderRadius);
	user-select: none;
}

.PlayCard:active {
	z-index: 99 !important;
}

.valid {
	border: var(--border) var(--borderColor);
	color: black !important;
}

.invalid {
	border: var(--border) var(--invalidColor);
	color: var(--invalidColor);
}

.invalid.red {
	background-color: var(--redInvalidColor);
}

.invalid.black {
	background-color: var(--blackInvalidColor);

}

.red {
	background-color: var(--redColor);
}

.black {
	background-color: var(--blackColor);
}

.cardText {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(var(--cardHeightClamp) - (var(--borderWidth)*2));
	/* max-height: calc(var(--cardHeightClamp) - (var(--borderWidth)*2)); */
	padding: 0 3px;
}

.top {
	align-self: flex-start;
}

.middle {
	align-self: center;
	font-size: clamp(1.4rem, calc(var(--fontSize)*2.5), 3rem);
}

.bottom {
	align-self: flex-end;
	transform: scale(-1, -1);
}

.empty {
	visibility: hidden;
}