.PlayCard {
	height: var(--cardHeight);
	width: var(--cardWidth);
	color: white;
	position: absolute;
	border-radius: var(--borderRadius);
}

.red {
	background-color: var(--redColor);
	border: var(--border) var(--blackColor);
}

.black {
	background-color: var(--blackColor);
	border: var(--border) var(--redColor);
}

.myDiv {
	position: absolute;
}

.cardText {
	user-select: none;
}