:root {
	--cardWidth: 5rem;
	--cardHeight: 7rem;

	--borderRadius: 5px;
	--border: 2px solid;

	--blackColor: black;
	--redColor: red;
}

div {
	margin: 0;
}


/* Delete Later */
#separatingLine {
	width: 50px;
	height: 50px;
	background-color: black;
}

.dragElement {
	position: absolute;
}


#mydiv {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
  }
  
  #mydivheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
  }