:root {
	--cardWidth: calc(100vw / 8);
	--cardHeight: calc(var(--cardWidth) * 1.4);

	--borderRadius: 5px;
	--borderWidth: 2px;
	--border: var(--borderWidth) solid black;

	--blackColor: #11E083;
	--redColor: #E21284;

	--fontSize: clamp(0.5rem, 2vw, 2rem);
}

div {
	margin: 0;
}

.container {
	/* border: var(--border grey); */
	/* width: 100%; */
	/* height: 100%; */
}