:root {
	--cardWidth: 5rem;
	--cardHeight: 7rem;

	--borderRadius: 5px;
	--border: 2px solid;

	--blackColor: black;
	--redColor: red;
}

div {
	margin: 2px;
}


/* Delete Later */
#separatingLine {
	width: 50px;
	height: 50px;
	background-color: black;
}