.containers {
	display: flex;
	flex-direction: row;
	/* width: 100%; */
}

.containers > div {
	/* min-width: var(--cardWidthMin);
	width: var(--cardWidth);
	max-width: var(--cardWidthMax); */
	width: var(--cardWidthClamp);
	/* border: 2px solid black; */
}



.top {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}


.bottom {
	/* height: 100%; */
	height: var(--cardHeightClamp)
}

.bottomButtons {
	position: fixed;
	bottom: 0;
}

.buttons {
	display: flex;
	flex-direction: row;
	width: var(--gameContainerWidthClamp);
	flex-wrap: nowrap;
}

.rulesBtn {
	cursor: pointer;
	text-decoration: underline;
}

.gameContainer {
	display: flex;
	flex-direction: column;
	/* min-width: var(--gameContainerWidthMin);
	width: var(--gameContainerWidth);
	max-width: var(--gameContainerWidthMax); */
	width: var(--gameContainerWidthClamp);
	margin: 0 auto;
	height: 100vh;
	/* border-width: 5px;
	border-style: none inset;
	border-color: black;
	box-shadow: 0 0 20px black; */
}

body {
	background-image: url('/public/images/background.jpg');
	background-repeat: repeat;
	background-position: center;
	background-size:auto;
	background-color: #C68946;

	overflow-x: hidden;
}

.headerImage {
	width: 100%;
	height: calc(var(--gameContainerWidthClamp) * 0.20390625);
}

.moves {
	text-align: center;
}

.easy {
	background-color: var(--blackColor);
}

.medium {
	background-color: #0a8a51;
}

.hard {
	background-color: var(--blackInvalidColor);
}

.button {
	width: 100%;
}

.name {
	font-family: var(--fontCursive);
	color: var(--textColor);
}

.footer {
	display: flex;
	flex-direction: row;
	padding: 0 20px;
}

.footerTop {
	background-color: var(--redColor);
	justify-content: space-around;
	text-align: center;
}

.footerBottom {
	background-color: var(--blackColor);
	justify-content: space-between;
}