/* General CSS *//* General CSS *//* General CSS *//* General CSS *//* General CSS *//* General CSS */

/* General container class name for both top and bottom rows */
.containers {
	/* Display/Position */
	display: flex;
	flex-direction: row;
}

/* div children of .containers should only be as big as the cards themselves */
.containers > div {
	/* Display/Position */
	width: var(--cardWidthClamp);
}

/* Top row containing Finished, Shown and Select containers */
.top {
	/* Display/Position */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* Bottom row with the In-play containers */
.bottom {
	/* Display/Position */
	height: var(--cardHeightClamp);
}

/* The container holding all of the elements with the exception of any modals */
.gameContainer {
	/* Display/Position */
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	width: var(--gameContainerWidthClamp);
}

/* Header CSS *//* Header CSS *//* Header CSS *//* Header CSS *//* Header CSS *//* Header CSS */

/* The top image for Hexitaire logo */
.headerImage {
	/* Display/Position */
	height: calc(var(--gameContainerWidthClamp) * 0.20390625);
	width: 100%;
}

/* Footer CSS *//* Footer CSS *//* Footer CSS *//* Footer CSS *//* Footer CSS *//* Footer CSS */

/* Buttons and game info is always at the bottom of the screen */
.bottomButtons {
	/* Display/Position */
	bottom: 0;
	position: fixed;
}

/* Div containing all .footer rows */
.footerContainer {
	/* Display/Position */
	bottom: 0;
	position: fixed;
	width: var(--gameContainerWidthClamp);
	
	/* Border */
	border-radius: var(--borderRadius);
}

/* Multiple containers that make up the bottom boxes, although the true footer is the last of the rows */
.footer {
	/* Display/Position */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	padding: 0 20px;
	width: 100%;
}

/* When hovering of a button that is the child of a .footer row, change border and cursor */
.footer > button:hover {
	/* Color/Background */
	border-color: rgb(123, 123, 123);
	/* Misc. */
	cursor: pointer;
}

/* Footer Element - used to make buttons and divs look the same */
.fElement {
	/* Display/Position */
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 3px;
	width: 100%;
	/* Font/Text */
	font-family: var(--fontSerif);
	text-align: center;


	overflow: hidden;
}

/* Top-Right of footer content, used to give a rounded corner on entire block */
.topRight {
	/* Border */
	border-radius: 0 var(--borderRadius) 0 0;
}

/* Top-Left of footer content, used to give a rounded corner on entire block */
.topLeft {
	/* Border */
	border-radius: var(--borderRadius) 0 0 0;
}

/* Specific to Development version. rounds edges of button to help remind it is not apart of the built program*/
.dev {
	/* Border */
	border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

/* Footer Elements alternate colors based on if they are even or odd */
.even {
	/* Border */
	border: var(--border) var(--borderColor);
	/* Color/Background */
	background-color: var(--redColor);
}

/* Footer Elements alternate colors based on if they are even or odd */
.odd {
	/* Border */
	border: var(--border) var(--borderColor);
	/* Color/Background */
	background-color: var(--blackColor);
}

/* The undo button can be disabled if there the user cannot use the feature */
.disabled {
	/* Color/Background */
		border-color: var(--borderColor) !important;
	/* Misc. */
		opacity: 100% !important;
		cursor:	auto !important;
}

/* Special text of "Ryan Ulch" in a different font than the rest of the program */
.name {
	/* Font/Text */
	font-family: var(--fontCursive);
	font-weight: bold;
}