.containers {
	display: flex;
	flex-direction: row;
}

.containers > div {
	width: var(--cardWidthClamp);
}

.top {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.bottom {
	height: var(--cardHeightClamp)
}

.bottomButtons {
	position: fixed;
	bottom: 0;
}

.gameContainer {
	display: flex;
	flex-direction: column;
	width: var(--gameContainerWidthClamp);
	margin: 0 auto;
	height: 100vh;
}

body {
	background-image: url('/public/images/background.jpg');
	background-repeat: repeat;
	background-position: center;
	background-size:auto;
	background-color: #C68946;
	overflow-x: hidden;
}

.headerImage {
	width: 100%;
	height: calc(var(--gameContainerWidthClamp) * 0.20390625);
}

button {
	width: 100%;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: 80%;
}

.name {
	font-family: var(--fontCursive);
}

.footerContainer {
	width: var(--gameContainerWidthClamp);
	position: fixed;
	bottom: 0;
}

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	padding: 0 20px;
}

.even {
	background-color: var(--redColor);

}

.odd {
	background-color: var(--blackColor);

}